{% extends 'base.html' %}
{% block content %}
<div class="container vh-100 d-flex justify-content-center align-items-center flex-column">
    <!-- Mensajes de alerta -->

    {% if messages %}
    <div class="col-md-4 mb-3">
        {% for message in messages %}
        <div
            class="alert {% if message.tags == 'success' %} alert-success {%else%} alert-danger {%endif%} rounded-3 d-flex justify-content-between align-items-center">
            <span>{{ message }}</span>
            <button type=" button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <!-- Formulario de Login -->
    <div class="col-md-4 p-4 shadow bg-light rounded-4">
        <h2 class="text-center mb-4">Login</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <div class="form-group mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control rounded-3">
            </div>
            <div class="form-group mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control rounded-3">
            </div>
            <button type="submit" class="btn btn-primary w-100 rounded-3">Login</button>
        </form>
    </div>
    <p class="text-center mt-3">¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
</div>
{% endblock %}